<template>
    <div :class="{'app': true, 'is-locked': !isLoaded}" class="application" :style="{'background-image': `url('${user.background ? user.background.url : ''}')`}">
        <div class="content" v-if="Object.keys(api).length > 0">
            <header-navigator :defaultIndexProp="defaultIndexProp"></header-navigator>
            <transition name="el-fade-in" mode="out-in">
                <router-view @goToList="toList"></router-view>
            </transition>
        </div>
        <div class="preloader" v-if="!isLoaded" v-loading="!isLoaded" element-loading-text="Загрузка..."></div>
    </div>
</template>

<script>
    import HeaderNavigator from './element/HeaderNavigator';
    import LoginForm from "./element/LoginForm";
    export default {
        name: 'app',
        components: {
            LoginForm,
            HeaderNavigator
        },
        computed: {
            api() {
                return this.$store.state.api;
            },
            isLoaded() {
                return this.$store.state.isLoaded;
            },
            user() {
                return this.$store.state.user
            },
        },
        data() {
            return {
                defaultIndex: window.location.path,
                defaultIndexProp: window.location.path,
            }
        },
        methods: {
            toList() {
                this.defaultIndexProp = '/list/';
            }
        }
    }
</script>

<style lang="stylus">
    .application {
        background-size cover
        background-repeat no-repeat
        background-position center top
        background-attachment fixed
        min-height calc(100vh - 2px)
        overflow hidden
    }
</style>