<template>
    <div class="cabinet-wrapper">
        <div class="cabinet-user-info">

            <div class="image-wrapper">
                <div class="user-image">
                    <img :src="user.photo.url" alt="">
                </div>
                <div class="actions">
                    <el-upload class="upload-demo" ref="upload" :action="'/upload/' + galleryId + '/'" :auto-upload="true" :on-success="pictureSuccess">
                        <el-button slot="trigger" size="small" type="primary">Загрузить фото</el-button>
                    </el-upload>
                </div>
            </div>

            <div class="user-info">
                <div class="user-info-group">
                    <div class="user-info-group row">
                        <div class="user-info-group">
                            <el-input :placeholder="'Email: ' + user.email" disabled v-model="userProps.email"></el-input>
                            <el-input :placeholder="'День рождения: ' + user.birthday" disabled v-model="userProps.birthday"></el-input>
                            <el-input :placeholder="'Дата регистрации: ' + user.registeredAt" disabled v-model="userProps.registeredAt"></el-input>
                            <el-button class="item-edit-button" type="info" icon="el-icon-question" @click="showStat"
                                       :loading="isStatLoading" @close="this.statModal = false">Статистика
                            </el-button>
                        </div>
                    </div>
                </div>
            </div>

            <el-dialog :visible.sync="statModal" v-if="Object.keys(stats).length">
                <el-collapse v-for="(stat, key) in stats" :key="key">
                    <el-collapse-item :title="`${key} - ${stat.length ? stat.length : stat}`" :name="key">
                        <div class="data" v-if="key !== 'Всего' && key !== 'Обмен' && stat.length">
                            <el-table :data="stat" style="width: 100%" fit>
                                <el-table-column :label="key" prop="title">
                                    <template slot-scope="scope">
                                        <div class="scope-wrapper" style="display: flex">
                                            <div class="image-wrapper" style="margin-right: 5px; padding-top: 5px">
                                                <img v-if="scope.row.image" :src="scope.row.image" alt="">
                                            </div>
                                            <h3>{{ scope.row.title }}</h3>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column label="Количество" prop="items_count" align="right"></el-table-column>
                            </el-table>
                        </div>
                    </el-collapse-item>
                </el-collapse>
            </el-dialog>

        </div>

        <div class="item">

            <div class="item-other">
                <h2 class="container">Мои предметы</h2>
                <item-list :userId="user.id"></item-list>
            </div>

        </div>
    </div>
</template>

<script>
  import ItemList from './ItemsList'
  export default {
    name: 'Cabinet',
    data () {
      return {
        galleryId: null,
        statModal: false,
        uploadPhotoModal: false,
        isChangingLogin: false,
        stats: {},
        isStatLoading: false,
        pictureModal: false,
        pictureModalSrc: '',
        userProps: {}
      }
    },
    components: {
      ItemList
    },
    computed: {
      api () {
        return this.$store.state.api
      },
      user () {
        return this.$store.state.user
      }
    },
    watch: {
      '$route' () {

      }
    },
    created () {
      if (this.user.galleryId === null) {
        this.axios({
          url: this.api.galleryCreate.path,
          method: this.api.galleryCreate.method,
          data: {userId: this.user.id}
        }).then(response => {
          this.galleryId = response.data
        })
      } else {
        this.galleryId = this.user.galleryId
      }
      /*setTimeout(() => {
          if (this.user.photo.length !== 0) {
              document.querySelector('.el-upload--picture-card').remove();
          }
      }, 1000);*/
    },
    methods: {
      showStat () {
        this.isStatLoading = true
        this.axios({
          url: this.api.userStat.path.replace(this.api.userStat.param, this.user.userName),
          method: this.api.userStat.method
        }).then(response => {
          this.stats = response.data
          console.log(this.stats)
          this.isStatLoading = false
          this.statModal = true
        }).catch(exception => {
          console.log(exception)
        })
      },
      picturePreview (e) {
        if (e.url) {
          this.pictureModalSrc = e.url
        } else {
          this.pictureModalSrc = e.response.path
        }
        this.pictureModal = true
      },
      pictureRemove (deletedImage) {
        const image = this.user.photo
        this.axios({
          url: this.api.photoDelete.path.replace(this.api.photoDelete.param, this.user.photo.id),
          method: this.api.photoDelete.method
        }).then(() => {
          console.log('OK')
        }).catch(() => {
          console.log('BAD')
        })
        if (image.id === deletedImage.id) {
          this.user.photo = {}
        }
      },
      pictureSuccess (response) {
        for (let i = 0; i < response.length; i++) {
          this.user.photo = response[i]
        }
        this.$refs.upload.clearFiles()
      },
      changeLogin () {
        if (this.userProps.userName) {
          this.isChangingLogin = true
        } else {
          this.isChangingLogin = false
        }
      },
      saveLogin () {
        if (this.userProps.userName) {
          this.axios({
            url: this.api.userEdit.path,
            method: 'post',
            data: { nick: this.userProps.userName }
          }).then(() => {
            this.userProps = {}
            location.reload(true)
          })
        }
      }
    }
  }
</script>

<style lang="stylus">
    .cabinet-wrapper {
        max-width 1300px
        margin 0 auto
    }
    .cabinet-user-info {
        display flex
        justify-content space-between
        align-items center
    }
    .user-image {
        width 300px
        height 300px
        overflow hidden
        & img {
            object-fit contain
            height 100%
            width 100%
        }
    }
    .actions {
        padding-top 10px
    }
    .login-wrapper {
        display flex
        justify-content flex-start
        align-items center
    }
    .item {
        display grid
        grid-gap 10px 10px
        grid-template-columns repeat(2, 1fr)
        @media (max-width 600px) {
            grid-template-columns 1fr
        }
        max-width 1300px
        margin 10px auto
        &-info {
            &-title {
                margin-bottom 10px
                font-size 24px
                font-weight 600
            }
            &-description {
                margin-bottom 10px
            }
            &-props {
                margin-bottom 10px
            }
            display flex
            flex-direction column
            justify-content flex-start
            align-items flex-start
        }
        &-other {
            margin-top 30px
            grid-column 1 / span 2
            @media (max-width 600px) {
                grid-column 1
            }
        }
    }

    .button-group {
        display flex
        margin-top auto
        &:first-child {
            margin-right 10px
        }
    }

    .el-dialog {
        min-width 290px
    }

    .user-info {
        display flex
        justify-content flex-start
        align-items center
        & > *:not(:last-child) {
            margin-right 10px
        }
        &-group {
            display flex
            flex-direction column
            justify-content flex-start
            align-items stretch
            flex 1
            & > *:not(:last-child) {
                margin 0 0 10px 0
            }
            &.row {
                flex-direction row
                & > *:not(:last-child) {
                    margin 0 10px 0 0
                }
            }
        }
    }
</style>
