<template>
    <el-card :body-style="{padding: '0px'}" :style="{backgroundColor: item.isExchange ? 'rgba(175, 211, 232, 0.26)' : 'white'}" shadow="hover">
        <img :src="'/' + item.cover" :alt="item.title" class="card-image">
        <div class="card-title">
            <h3>{{ item.title }}</h3>
        </div>
        <div class="card-navigation">
            <el-button icon="el-icon-search" circle @click="openItem"></el-button>
            <el-tooltip content="Доступен обмен" placement="top" v-if="item.isExchange">
                <el-button type="info" icon="el-icon-refresh" circle style="cursor: default"></el-button>
            </el-tooltip>
            <el-button type="primary" icon="el-icon-edit" circle @click="editItem" v-if="isCabinet"></el-button>
            <el-button type="danger" icon="el-icon-delete" circle @click="deleteItem" v-if="isCabinet"></el-button>
        </div>
    </el-card>
</template>

<script>
    export default {
        name: 'Card',
        props: {
            item: {
                type: Object,
                required: true
            },
            dataIdex: Number
        },
        methods: {
            openItem() {
                this.$store.commit('startLoad');
                const query = this.$route.query;
                this.$router.push('/list/' + this.item.id + '/');
                this.$router.push({query: query});
            },
            editItem() {
                this.$store.commit('startLoad');
                this.$router.push('/edit/' + this.item.id + '/');
            },
            deleteItem() {
                this.$confirm('Вы хотите удалить ' + this.item.title, 'Удалить?', {
                  confirmButtonText: 'OK',
                  cancelButtonText: 'Отмена',
                  type: 'warning'
                }).then(() => {
                  this.axios({
                    url: this.api.itemDelete.path.replace(this.api.itemDelete.param, this.item.id),
                    method: this.api.itemDelete.method
                  })
                }).then(() => {
                  this.$notify.success({
                    title: 'Сообщение',
                    message: 'Вы удалили предмет',
                    position: 'top-right'
                  });
                  this.$emit('delete');
                }).catch((error) => {
                  console.error(error)
                })
            }
        },
        computed: {
          isCabinet () {
            return this.$route.name === 'Cabinet';
          },
          api () {
            return this.$store.state.api;
          }
        }
    }
</script>

<style lang="stylus" scoped>
    .card-image {
        width 100%
        height auto
    }
    .card {
        &-title {
            padding 10px 5px 5px 15px
            & h3 {
                font-size 1.1rem
                font-weight 600
                white-space nowrap
                overflow-x hidden
                text-overflow ellipsis
            }
        }
        &-navigation {
            padding 10px 5px 5px 15px
        }
    }
</style>