<template>
    <el-menu :default-active="defaultIndexComputed" :router="true" mode="horizontal" @select="handleSelect" background-color="#409EFF" text-color="#2A2F32" active-text-color="#FFFFFF">
        <el-menu-item v-if="isAuth" class="nav-item" index="/logout/" @click.stop="goOut">Выход</el-menu-item>
        <el-menu-item class="nav-item" v-else index="/">Авторизация</el-menu-item>
        <el-menu-item v-if="isAuth" class="nav-item" index="/cabinet/">Кабинет</el-menu-item>
        <el-menu-item v-if="isAuth" class="nav-item" index="/create/" :class="{'is-active': isEdit}">{{ editorTitle }}</el-menu-item>
        <el-menu-item class="nav-item" index="/list/" :class="{'is-active': isOnList}">Список предметов</el-menu-item>
        <el-menu-item v-if="isAuth" class="nav-item left" index="/settings/" :class="{'is-active': isOnSettings}">Настройки</el-menu-item>
    </el-menu>
</template>

<script>
    /*TODO: Сделать переключение пунктов меню по роутингу*/
    export default {
        name: 'HeaderNavigator',
        data() {
            return {
                defaultIndex: this.$store.getters.getPath,
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                if (key === '/logout/') {
                    this.axios.get(this.$store.state.api.logout);
                    window.location.reload();
                } else {
                    this.defaultIndex = key;
                }
            },
            goOut() {
                window.location.href = '/logout/'
            }
        },
        computed: {
          defaultIndexComputed() {
              if (this.defaultIndexProp != undefined) {
                  this.defaultIndex = this.defaultIndexProp;
              }
              return this.defaultIndex;
          },
          isAuth() {
              return this.$store.state.isAuth;
          },
          isEdit() {
              return this.$route.name === 'EditItem';
          },
          isOnSettings() {
              return this.$route.name === 'Settings';
          },
          isOnList() {
              if (this.$route.name === 'ItemsList' || this.$route.name === 'Item') {
                return true;
              }
              console.log(this.$route);
              return false;
          },
          editorTitle () {
              if (this.$route.name === 'EditItem') {
                return 'Редактирование товара';
              } else if (this.$route.name === 'CreateItem') {
                return 'Добавление товара';
              }
              return 'Добавить предмет';
          }
        },
        props: ['defaultIndexProp'],
    }
</script>

<style lang="stylus">
    .nav-item {
        user-select none
    }
    .left {
        display block
        margin-left auto !important
    }
</style>