<template>
    <div class="container">
        <div class="grid grid__filters">
            <el-input placeholder="Поиск" v-model="filters.search" clearable></el-input>
            <el-select v-model="filters.countries" multiple collapse-tags placeholder="Страны" :value="null">
                <el-option v-for="country in countries" :key="country.id" :label="country.title" :value="country.id">
                    <img style="float: left; padding-top: 10px; margin-right: 10px;" :src="country.image" v-if="country.image !== ''">
                    <span style="float: left">{{ country.title }}</span>
                </el-option>
            </el-select>
            <el-select v-model="filters.materials" multiple collapse-tags placeholder="Материалы" :value="null">
                <el-option v-for="material in materials" :key="material.id" :label="material.title" :value="material.id"></el-option>
            </el-select>
            <el-select v-model="filters.categories" multiple collapse-tags placeholder="Категории" :value="null">
                <el-option v-for="category in categories" :key="category.id" :label="category.title" :value="category.id"></el-option>
            </el-select>
            <el-select v-model="filters.subcategories" multiple collapse-tags placeholder="Подкатегории" :value="null">
                <el-option v-for="subcategory in subcategories" :key="subcategory.id" :label="subcategory.title" :value="subcategory.id"></el-option>
            </el-select>
            <el-select v-model="filters.orderByTitle" clearable placeholder="Заголовок" :value="null">
                <el-option :label="'от А до Я'" :value="'ASC'"></el-option>
                <el-option :label="'от Я до А'" :value="'DESC'"></el-option>
            </el-select>
            <el-select v-model="filters.orderByDate" clearable placeholder="Дата" :value="null">
                <el-option :label="'Сначала новые'" :value="'DESC'"></el-option>
                <el-option :label="'Сначала старые'" :value="'ASC'"></el-option>
            </el-select>
            <el-date-picker :picker-options="pickerOptions" :class="'grid-picker'" :popper-class="'grid-popper'" format="dd-MM-yy" value-format="dd-MM-yyyy" v-model="filters.dates" type="daterange" range-separator=":" align="center" start-placeholder="Начало" end-placeholder="Конец"></el-date-picker>
            <el-checkbox-group v-model="filters.isExchange">
                <el-checkbox-button border :class="'grid-checkbox__full'">Доступные для обмена</el-checkbox-button>
            </el-checkbox-group>
            <el-checkbox-group v-model="filters.isMine" v-if="userId === null">
                <el-checkbox-button border :class="'grid-checkbox__full'">Только мои</el-checkbox-button>
            </el-checkbox-group>
            <el-checkbox-group v-model="filters.showAll">
                <el-checkbox-button border :class="'grid-checkbox__full'">Показать все</el-checkbox-button>
            </el-checkbox-group>
            <el-button :disabled="!filtersIsFill" @click.prevent="resetFilters()">Сбросить фильтры</el-button>
        </div>
        <transition name="opacity" v-if="itemsList.length">
            <div class="grid" v-if="pagination && !filters.showAll">
                <el-pagination @size-change="setPerPage" @current-change="setCurPage" :current-page.sync="filters.curPage" :page-sizes="[50, 100, 200, 400, 800]" :page-size.sync="filters.perPage" :class="{'grid-item__x2': viewProps.isMobile}" :pager-count="viewProps.count" :layout="viewProps.layout" :total="pagination.count"></el-pagination>
            </div>
        </transition>
        <transition-group appear name="opacity" tag="div" class="grid" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave" mode="out-in" v-if="itemsList.length">
            <card v-for="(item, key) in itemsList" :key="item.id" :item="item" :data-index="key" :data-last="itemsList.length" @delete="loadItemsListWithQueryFilters"></card>
        </transition-group>
        <el-alert title="Неверная фильтрация" type="warning" description="Для данных фильтров не найдено совпадений" show-icon :closable="false" v-if="!itemsList.length && isFiltersTriggered"></el-alert>
        <el-alert title="Загрузка..." type="info" description="Загружается список объектов" show-icon :closable="false" v-else-if="!itemsList.length && !isFiltersTriggered"></el-alert>
        <transition name="opacity" v-if="itemsList.length">
            <div class="grid" v-if="pagination && !filters.showAll">
                <el-pagination @size-change="setPerPage" @current-change="setCurPage" :current-page.sync="filters.curPage" :page-sizes="[50, 100, 200, 400, 800]" :page-size.sync="filters.perPage" :class="{'grid-item__x2': viewProps.isMobile}" :pager-count="viewProps.count" :layout="viewProps.layout" :total="pagination.count"></el-pagination>
            </div>
        </transition>
    </div>
</template>

<script>
    import Card from "./Card";
    export default {
        name: 'ItemsList',
        components: {Card},
        data() {
            return {
                filters: {
                    countries: [],
                    materials: [],
                    categories: [],
                    subcategories: [],
                    dates: [],
                    orderByTitle: null,
                    orderByDate: null,
                    search: '',
                    isExchange: false,
                    isMine: false,
                    showAll: false,
                    perPage: 50,
                    curPage: 1,
                    userId: this.userId ? this.userId : null
                },
                pickerOptions: {
                    firstDayOfWeek: 1
                },
                filtersCopy: {},
                isFiltersTriggered: false
            }
        },
        props: {
            userId: {
                type: Number
            }
        },
        computed: {
            api() {
                return this.$store.state.api;
            },
            itemsList() {
                return this.$store.state.itemsList;
            },
            pagination() {
                return this.$store.state.pagination;
            },
            countries() {
                return this.$store.state.options.countries;
            },
            materials() {
                return this.$store.state.options.materials;
            },
            categories() {
                return this.$store.state.options.categories;
            },
            subcategories() {
                return this.$store.state.options.subcategories;
            },
            filtersIsFill() {
                for (let key in this.filters) {
                    let value = this.filters[key];
                    if (key !== 'userId') {
                        if (isValid(value)) {
                            return true;
                        }
                    }
                }
                return false;
            },
            viewProps() {
                const isMobile = window.innerWidth <= 500;
                const out = {
                    'layout': isMobile ? 'pager, next' : 'sizes, prev, pager, next',
                    'isMobile': isMobile,
                    'count': isMobile ? 5 : window.innerWidth > 640 ? 9 : window.innerWidth > 900 ? 15 : 5,
                };
                return out;
            }
        },
        created: function () {
          this.loadItemsListWithQueryFilters();
        },
        watch: {
            filters: {
                handler: function(val) {
                    this.isFiltersTriggered = true;
                    if (this.filters.showAll) {
                        this.filters.curPage = 1;
                        this.filters.perPage = 50;
                    }

                    /*При каждом изменении фильтров записываем их в глобальный store*/
                    this.$store.commit('multiSet', {value: {filters: val}});

                    /*При каждом изменении фильтров записываем параметры в ?query*/
                    const filters = this.filters;
                    let queryParams = {};
                    for (let key in filters) {
                        if (isValid(filters[key]) && key !== 'userId') {
                            /*Стандартные значения curPage и perPage не записываем для большей красоты строки браузера*/
                            if (key === 'perPage' && filters[key] !== 50 || key === 'curPage' && filters[key] !== 1 || (key !== 'curPage' && key !== 'perPage')) {
                                if (key === 'perPage' || key === 'curPage') {
                                  queryParams[key] = Number(filters[key]);
                                } else {
                                  queryParams[key] = filters[key];
                                }
                            }
                        }
                    }
                    this.$router.push({query: queryParams});
                    let prettyFilters = {};
                    for (let key in this.filters) {
                        if (isValid(this.filters[key])) {
                            prettyFilters[key] = this.filters[key];
                        }
                    }
                    if (this.$route.name === 'ItemsList') {
                        delete prettyFilters.userId;
                    } else {
                        prettyFilters.userId = this.userId;
                    }
                    this.loadItemsList(prettyFilters);
                },
                deep: true
            }
        },
        methods: {
            loadItemsListWithQueryFilters () {
              /*Создаем пустой объект фильтров для последующей быстрой очистки*/
              Object.assign(this.filtersCopy, this.filters);

              /*Заполняем данные фильтра данными из глобального стора (если вернулись с другого роута сюда)*/
              Object.assign(this.filters, this.$store.state.filters);

              /*Заполняем данные фильтра параметрами, которые висят в адресной строке (если попали на страницу с ?query)*/
              const query = this.$route.query;
              for (let key in query) {
                /*Удаляем из query параметр userId, по которому фильтруем объявления конкретного юзера*/
                if (this.$route.name === 'ItemsList' && key === 'userId') {
                  delete this.$route.query[key];
                }
                let value = query[key];
                if (Array.isArray(value)){
                  let integerValue = [];
                  value.forEach(item => {
                    /*Исключительный случай даты (01-01-1991)*/
                    if (!Number.isInteger(item) && item.match(/-/)) {
                      integerValue.push(item);
                    } else {
                      integerValue.push(parseInt(item));
                    }
                  });
                  this.filters[key] = integerValue;
                } else {
                  if (value === 'false') {
                    this.filters[key] = false;
                  } else if (value === 'true') {
                    this.filters[key] = true;
                  } else {
                    const integerValue = parseInt(value);
                    if (Number.isInteger(integerValue) && isArrayed(key)) {
                      this.filters[key] = [integerValue];
                    } else {
                      this.filters[key] = integerValue;
                    }
                  }
                }
              }

              let prettyFilters = {};
              for (let key in this.filters) {
                if (isValid(this.filters[key])) {
                  prettyFilters[key] = this.filters[key];
                }
              }
              if (this.$route.name === 'ItemsList') {
                delete prettyFilters.userId;
              } else {
                prettyFilters.userId = this.userId;
              }
              // if (Object.keys(prettyFilters).length === 0 || prettyFilters.userId) {
              this.loadItemsList(prettyFilters);
              // }
            },
            resetFilters() {
                /*Сброс фильтров*/
                for (let key in this.filtersCopy) {
                    this.filters[key] = this.filtersCopy[key];
                }
            },
            beforeEnter: function(el) {
                el.style.opacity = 0;
            },
            enter: function (el, done) {
                const index = el.dataset.index;
                const last = el.dataset.last;
                let delay = 0;
                if (last <= 40) {
                    /*Хаотичная анимация*/
                    delay = Math.floor(Math.random() * (last - index) + index) * Math.floor(Math.random() * (100 - 50) + 50);
                } else {
                    /*Последовательная анимация*/
                    delay = index * 70;
                    if (index > 20) {
                        delay = 10;
                    }
                }

                setTimeout(() => {
                    Velocity(el, {opacity: 1}, {complete: done});
                }, delay);
            },
            leave: function (el, done) {
                let delay = 50;
                setTimeout(() => {
                    Velocity(el, {opacity: 0}, {complete: done});
                }, delay);
            },
            loadItemsList(value = null) {
                if (!this.isLoadingList) {
                    this.isLoadingList = true;
                    this.axios({
                        url: this.api.items.path,
                        method: this.api.items.method,
                        params: value,
                    }).then(response => {
                        const {data} = response;
                        this.$store.commit('multiSet', {value: data});
                        this.isLoadingList = false;
                        // this.$store.commit('endLoad');
                    }).catch(exception => {
                        this.isLoadingList = false;
                    });
                }
            },
            setCurPage(page) {
                this.filters.curPage = Number(page);
            },
            setPerPage(perPage) {
                this.filters.perPage = Number(perPage);
            }
        },
    }

    function isValid(value) {
        if (typeof value === 'boolean' && value) {
            return true;
        } else if (value !== null && value !== '' && value.length) {
            return true;
        } else if (Number.isInteger(value) && value !== 1 && value !== 50) {
            return true;
        }
        return false;
    }
    function isArrayed(key) {
        const arrayQuery = [
            'countries',
            'materials',
            'categories',
            'dates'
        ];
        return arrayQuery.indexOf(key) >= 0;
    }
</script>

<style lang="stylus" scoped>

</style>
