<template>
    <div class="item-editor container" v-if="itemGalleryId">
        <el-form ref="form" :model="item" :class="'grid'">
            <el-upload class="image-uploader" :action="'/upload/' + itemGalleryId + '/'" list-type="picture-card" :on-preview="picturePreview" :on-remove="pictureRemove" :file-list="item.images" :on-success="pictureSuccess">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="pictureModal">
                <img width="100%" :src="pictureModalSrc" alt="">
            </el-dialog>

            <el-form-item>
                <el-input v-model="item.title" placeholder="Заголовок"></el-input>
            </el-form-item>

            <el-form-item>
                <el-input v-model="item.price" placeholder="Цена"></el-input>
            </el-form-item>

            <el-select v-model="item.country" clearable collapse-tags placeholder="Страна" :value="null" filterable no-match-text="Такой страны нет">
                <el-option v-for="country in options.countries" :key="country.id" :label="country.title" :value="country.id">
                    <img style="float: left; padding-top: 10px; margin-right: 10px;" :src="country.image" v-if="country.image !== ''">
                    <span style="float: left">{{ country.title }}</span>
                </el-option>
            </el-select>

            <el-select v-model="item.material" clearable collapse-tags placeholder="Материал" :value="null">
                <el-option v-for="material in options.materials" :key="material.id" :label="material.title" :value="material.id"></el-option>
            </el-select>

            <el-select v-model="item.category" clearable collapse-tags placeholder="Категория" :value="null">
                <el-option v-for="category in options.categories" :key="category.id" :label="category.title" :value="category.id"></el-option>
            </el-select>

            <el-select v-model="item.subcategory" clearable collapse-tags placeholder="Подкатегория" :value="null">
                <el-option v-for="subcategory in options.subcategories" :key="subcategory.id" :label="subcategory.title" :value="subcategory.id"></el-option>
            </el-select>

            <el-checkbox v-model="item.isExchange" label="Доступен обмен" border v-if="!isFullWidth"></el-checkbox>

            <el-form-item class="textarea" autosize>
                <el-input type="textarea" v-model="item.description" placeholder="Описание" :autosize="{minRows: 5, maxRows: 10}"></el-input>
            </el-form-item>

            <div class="button-wrapper">
                <el-checkbox v-model="item.isExchange" label="Доступен обмен" border v-if="isFullWidth"></el-checkbox>
                <el-button class="shadown" icon="el-icon-circle-plus-outline" type="primary" @click.stop="addParameters" style="max-height: 40px;" :loading="parametersModalLoading">{{ parametersModalLoading ? 'Загрузка...' : 'Добавить параметры' }}</el-button>
            </div>

            <el-button class="shadown" icon="el-icon-success" type="success" style="margin-left: 0" @click.stop="saveItem">Сохранить</el-button>
        </el-form>
        <el-dialog title="Добавить параметры" :visible.sync="addParametersModal" :width="modalWidth" :before-close="closeModal" :class="'grid-body'">
            <el-form>
                <el-form-item :error="formError.country.error" :validateStatus="formError.country.status">
                    <el-select v-model="newOptions.country" clearable collapse-tags placeholder="Страна" :value="null" filterable no-match-text="Такой страны нет" popper-class="country-popper" @focus="clearError('country')">
                        <el-option v-for="country in allCountries" :key="country.id" :label="country.title" :value="country.id">
                            <img style="float: left; padding-top: 10px; margin-right: 10px;" :src="country.image" v-if="country.image !== ''">
                            <span style="float: left">{{ country.title }}</span>
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item :error="formError.material.error" :validateStatus="formError.material.status">
                    <el-input v-model="newOptions.material" clearable placeholder="Материал" @focus="clearError('material')"></el-input>
                </el-form-item>

                <el-form-item :error="formError.category.error" :validateStatus="formError.category.status">
                    <el-input v-model="newOptions.category" clearable placeholder="Категория" @focus="clearError('category')"></el-input>
                </el-form-item>

                <el-form-item :error="formError.subcategory.error" :validateStatus="formError.subcategory.status">
                    <el-input v-model="newOptions.subcategory" clearable placeholder="Подкатегория" @focus="clearError('subcategory')"></el-input>
                </el-form-item>

                <div class="dialog-footer">
                    <el-button plain type="danger" @click="closeModal">Отменить</el-button>
                    <el-button plain type="success" icon="el-icon-success" @click="sendModal">Добавить</el-button>
                </div>
            </el-form>
        </el-dialog>
    </div>
</template>

<script>
    export default {
        name: 'Item',
        data() {
            return {
                item: {
                    galleryId: null,
                    images: []
                },
                addParametersModal: false,
                parametersModalLoading: false,
                pictureModal: false,
                pictureModalSrc: '',
                newOptions: {},
                allCountries: [],
                formError: {
                    country: {
                        error: '',
                        status: ''
                    },
                    material: {
                        error: '',
                        status: ''
                    },
                    category: {
                        error: '',
                        status: ''
                    },
                    subcategory: {
                        error: '',
                        status: ''
                    },
                }
            }
        },
        computed: {
            itemId() {
                return parseInt(this.$route.params.itemId);
            },
            itemGalleryId() {
                return this.item.galleryId;
            },
            api() {
                return this.$store.state.api;
            },
            options() {
                return this.$store.state.options;
            },
            getItemPrice() {
                return this.item.price === 0 ? '' : this.item.price;
            },
            modalWidth() {
                if (window.outerWidth > 600) {
                    return '600px';
                } else {
                    return '95%';
                }
            },
            isFullWidth() {
                return (window.outerWidth >= 1319);
            },
        },
        created() {
            if (this.$route.name === 'CreateItem') {
                this.initCreatingItem();
                this.$store.commit('endLoad');
            } else {
                this.axios.get(this.api.item.path.replace(this.api.item.param, this.itemId)).then(response => {
                    this.item = response.data;
                    this.$store.commit('endLoad');
                });
            }
        },
        watch: {
            item: {
                handler: function (val) {
                    for (let key in this.item) {
                        if (this.item[key] !== [] && this.item[key] === 0) {
                            this.item[key] = null;
                        }
                    }
                }
            },
            '$route'() {
                if (this.$route.name == 'CreateItem') {
                    this.initCreatingItem();
                }
            }
        },
        methods: {
            addParameters() {
                this.parametersModalLoading = true;
                if (!this.allCountries.length) {
                    this.axios.get(this.api.allCountries.path).then(response => {
                        this.allCountries = response.data;
                        this.addParametersModal = true;
                        this.parametersModalLoading = false;
                    });
                } else {
                    this.addParametersModal = true;
                    this.parametersModalLoading = false;
                }
            },
            closeModal() {
                this.addParametersModal = false;
                this.pictureModal = false;
            },
            sendModal() {
                this.axios({
                    url: this.api.createOptions.path,
                    method: this.api.createOptions.method,
                    data: this.newOptions
                }).then(response => {
                    const {data} = response;
                    this.allCountries = [];
                    this.$store.commit('set', {type: 'options', value: data});
                    this.addParametersModal = false;
                    this.clearErrors();
                    this.$notify.success({
                        title: Object.keys(this.newOptions).length > 1 ? 'Новые параметры добавлены' : 'Новый параметр добавлен',
                        message: '',
                        position: 'top-right'
                    });
                    this.newOptions = {};
                }).catch(errors => {
                    const response = errors.response.data.errors;
                    for (let key in response) {
                        this.formError[key].error = response[key];
                        this.formError[key].status = 'error';
                    }
                });
            },
            clearError(field) {
                for (let value in this.formError[field]) {
                    this.formError[field][value] = '';
                }
            },
            clearErrors() {
                for (let key in this.formError) {
                    for (let value in this.formError[key]) {
                        this.formError[key][value] = '';
                    }
                }
            },
            picturePreview(e) {
                if (e.url) {
                    this.pictureModalSrc = e.url;
                } else {
                    this.pictureModalSrc = e.response.path;
                }
                this.pictureModal = true;
            },
            pictureRemove(deletedImage) {
                for (let i = 0; i < this.item.images.length; i++) {
                    const image = this.item.images[i];
                    if (image.id === deletedImage.id) {
                        this.item.images.splice(i, 1);
                    }
                }
            },
            pictureSuccess(response) {
                for (let i = 0; i < response.length; i++) {
                    this.item.images.push(response[i]);
                }
            },
            saveItem() {
                this.axios({
                    url: this.api.itemCreate.path,
                    method: this.api.itemCreate.method,
                    data: this.item
                }).then(response => {
                    this.$notify.success({
                        title: 'Элемент "' + this.item.title + '" сохранен!',
                        message: '',
                        position: 'top-right'
                    });
                    this.$router.push('/cabinet/')
                    window.location.reload();
                }).catch(exception => {
                   console.log(exception);
                });
            },
            initCreatingItem() {
                this.item = {
                    title: '',
                    description: '',
                    price: 0,
                    country: null,
                    material: null,
                    category: null,
                    subcategory: null,
                    isExchange: false,
                    id: null,
                    galleryId: null,
                    images: []
                };
                this.createNewGallery();
            },
            createNewGallery() {
                this.axios({
                    url: this.api.galleryCreate.path,
                    method: this.api.galleryCreate.method
                }).then(response => {
                    this.item.galleryId = response.data;
                });
            }
        }
    }
</script>

<style lang="stylus" scoped>
    .form {
        max-width 1300px
        min-width 300px
        width 100%
        margin 10px auto
    }
    .grid {
        & .textarea {
            box-shadow 0 10px 35px -15px rgba(0,0,0,0.3)
            grid-column 1 / -2
            @media (max-width 1319px) and (min-width 400px) {
                grid-column 1 / -1
            }
        }
    }
    .dialog-footer {
        display flex
        justify-content flex-end
    }
    .image-uploader {
        grid-column 1 / -1
    }
    .shadown {
        box-shadow 0 8px 40px -3px black;
        &.el-button {
            &--primary {
                box-shadow 0 8px 40px -3px #409EFF
            }
            &--success {
                box-shadow 0 8px 40px -3px #67c23a
            }
        }
    }
    .button-wrapper {
        display flex
        flex-direction column
        justify-content flex-start
        align-items stretch
        & label {
            margin-bottom 10px
        }
    }
</style>
