<template>
    <div class="item" v-if="Object.keys(item).length > 0" :class="{darken: isFullfilled}">
        <div class="gallery-wrapper" @click="toggleFullscreenGallery" :class="{fullfilled: isFullfilled}">
            <vue-gallery v-if="galleryImages && galleryImages.length && isLoadImages" ref="gallery" :images="galleryImages" :carousel="true" :options="options" :index="index" @close="index = null"></vue-gallery>
            <el-button icon="el-icon-close" class="close-gallery" @click="toggleFullscreenGallery" v-if="isFullfilled" circle type="danger"></el-button>
        </div>

        <div class="item-info container">
            <h1 class="item-info-title">{{ item.title }}{{ item.price ? ' - ' + item.price + 'р.' : '' }}{{ item.isExchange ? ' (Обмен)' : '' }}</h1>
            <div class="item-info-props" v-if="item.category || item.country || item.material">
                <h2 v-if="item.category">Категория - {{ item.categoryTitle }}</h2>
                <h2 v-if="item.subcategory">Подкатегория - {{ item.subcategoryTitle }}</h2>
                <h2 v-if="item.country">Страна - {{ item.countryTitle }}</h2>
                <h2 v-if="item.material">Материал - {{ item.materialTitle }}</h2>
            </div>
            <h2 v-if="item.description.length">Описание:</h2>
            <p class="item-info-description" v-if="item.description">{{ item.description }}</p>
            <div class="button-group">
                <el-button class="item-edit-button" type="primary" icon="el-icon-edit" @click="editItem">Редактировать</el-button>
                <el-button class="item-edit-button" type="info" icon="el-icon-question" @click="showStat" :loading="isStatLoading" @close="this.statModal = false">Статистика</el-button>
            </div>
        </div>

        <el-dialog :visible.sync="statModal" v-if="Object.keys(stats).length">
            <el-collapse v-for="(stat, key) in stats" :key="key">
                <el-collapse-item :title="`${key} - ${stat.length ? stat.length : stat}`" :name="key">
                    <div class="data" v-if="key !== 'Всего' && key !== 'Обмен' && stat.length">
                        <el-table :data="stat" style="width: 100%" fit>
                            <el-table-column :label="key" prop="title">
                                <template slot-scope="scope">
                                    <div class="scope-wrapper" style="display: flex">
                                        <div class="image-wrapper" style="margin-right: 5px; padding-top: 5px">
                                            <img v-if="scope.row.image" :src="scope.row.image" alt="">
                                        </div>
                                        <h3>{{ scope.row.title }}</h3>
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column label="Количество" prop="items_count" align="right"></el-table-column>
                        </el-table>
                    </div>
                </el-collapse-item>
            </el-collapse>
        </el-dialog>

        <div class="item-other">
            <h2 class="container">Все предметы пользователя:</h2>
            <item-list :userId="item.userId"></item-list>
        </div>
    </div>
</template>

<script>
    import ItemList from './ItemsList';
    import VueGallery from 'vue-gallery';
    export default {
        name: 'Item',
        data() {
            return {
                item: {

                },
                statModal: false,
                stats: {},
                isStatLoading: false,
                index: null,
                options: {

                },
                isLoadImages: false,
                isFullfilled: false
            }
        },
        components: {
            ItemList,
            VueGallery
        },
        computed: {
            itemId() {
                return parseInt(this.$route.params.itemId);
            },
            api() {
                return this.$store.state.api;
            },
            arrows() {
                return this.item.images.length > 1 ? 'always' : 'never';
            },
            indicator() {
                return this.item.images.length > 1;
            },
            user() {
                return this.$store.state.user;
            },
            galleryImages() {
                return this.item.images.map(image => {
                    return image.url
                })
            }
        },
        watch: {
            '$route'() {
                this.initItem();
            }
        },
        created() {
            this.initItem();
        },
        methods: {
            toggleFullscreenGallery(e) {
              if ((e.target.className === 'slide-content' && !this.isFullfilled) || (this.isFullfilled && (e.target.className === 'el-button close-gallery el-button--danger is-circle' || e.target.className === 'el-icon-close'))) {
                  this.isLoadImages = false
                  this.isFullfilled = !this.isFullfilled
                  setTimeout(() => {
                      this.isLoadImages = true
                  }, 200)
              }
            },
            editItem() {
                // this.$store.commit('startLoad');
                this.$router.push('/edit/' + this.itemId + '/');
            },
            carouselChange(itemIndex) {
                // this.$refs.carousel.$forceUpdate();
                // console.log(this.$refs);
                // console.log(this.$refs[`carousel-item_${itemIndex}`]);
                // this.$refs[`carousel-item_${itemIndex}`].$forceUpdate;
                // for (const refTitle in this.$refs) {
                //   if (/-item_/.test(refTitle)) {
                //     // console.log()
                //     this.$refs[refTitle].$forceUpdate();
                //   }
                // }
                // console.log(newItem);
                // console.log(this.$refs)
                // console.log('Change')
                // console.log(this.$refs)
                // const image = this.item.images[newItem];
                // const carousel = document.querySelector('.el-carousel');
                // const carouselItems = carousel.querySelectorAll('.el-carousel__item');
                // const carouselWidth = carousel.clientWidth;
                // const multipler = image.width / carouselWidth;
                // const carouselHeight = image.height / multipler;
                //
                // carousel.style.transition = '0.33s';
                // carousel.style.height = carouselHeight + 'px';
                // for (let key = 0; key < carouselItems.length; key++) {
                //     const carouselItem = carouselItems[key];
                //     // carouselItem.style.transition = '0.1s';
                //     carouselItem.style.height = carouselHeight + 'px';
                // }
            },
            showStat() {
                this.isStatLoading = true;
                this.axios({
                    url: this.api.userStat.path.replace(this.api.userStat.param, this.item.userName),
                    method: this.api.userStat.method
                }).then(response => {
                    this.stats = response.data;
                    this.isStatLoading = false;
                    this.statModal = true;
                }).catch(exception => {
                    console.log(exception);
                });
            },
            initItem() {
                this.isLoadImages = false
                this.axios.get(this.api.item.path.replace(this.api.item.param, this.itemId)).then(response => {
                    this.item = response.data;
                    setTimeout(() => {
                        // this.$refs.gallery.$forceUpdate()
                        // this.carouselChange(0);
                    }, 300);
                    this.isLoadImages = true
                    this.$store.commit('endLoad');
                });
            }
        }
    }
</script>

<style lang="stylus">
    .close-gallery {
        position fixed
        right 30px
        top 30px
        z-index 9999
    }
    .fullfilled {
        z-index 9998
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        display flex
        justify-content center
        align-items center
        background-color rgba(0, 0, 0, 1)
        & .blueimp-gallery {
            width calc(100% - 160px)
            height auto
        }
    }
    .gallery-wrapper {
        grid-area 0 1
    }
    .gallery-items {
        display flex
        flex-direction row
        justify-content center
        align-items center
        flex-wrap wrap
        max-width calc(1300px / 2)
    }
    .gallery-item {
        border-radius 10px
        margin 5px
    }
    .item {
        display grid
        grid-gap 10px 10px
        grid-template-columns repeat(2, 1fr)
        @media (max-width 600px) {
            grid-template-columns 1fr
        }
        max-width 1300px
        margin 10px auto
        &-carousel {
            max-width 900px
            min-width 300px
            width 100%
            height auto
        }
        &-info {
            &-title {
                margin-bottom 10px
                font-size 24px
                font-weight 600
            }
            &-description {
                margin-bottom 10px
            }
            &-props {
                margin-bottom 10px
            }
            display flex
            flex-direction column
            justify-content flex-start
            align-items flex-start
        }
        &-other {
            margin-top 30px
            grid-column 1 / span 2
            @media (max-width 600px) {
                grid-column 1
            }
        }
    }
    .button-group {
        display flex
        margin-top auto
        &:first-child {
            margin-right 10px
        }
    }
    .el-carousel__item {
        & img {
            width 100%
            height auto
        }
    }
    .el-dialog {
        min-width 290px
    }
</style>
