<template>
    <div class="cabinet" v-if="Object.values(user).length">
        <el-card>
            <div class="header" slot="header">
                <span>Настройки</span>
            </div>
            <p class="prep">Фоновое изображение:</p>
            <div class="actions poop">
                <el-upload class="upload-demo" ref="upload" :action="'/upload/' + user.backgroundGalleryId + '/'" :auto-upload="true" :on-success="pictureSuccess">
                    <el-button slot="trigger" size="small" type="primary">{{ user.background && user.background.url ? 'Загрузить новое фоновое изоражение' : 'Загрузить фоновое изображение' }}</el-button>
                </el-upload>
                <el-button v-if="user.background && user.background.url" @click="deleteBackgroundImage" size="small" type="danger" style="margin-left: 10px">Удалить фоновое изображение</el-button>
            </div>
            <p class="prep">Данные аккаунта:</p>
            <div class="poop" v-if="user">
                <div class="props">
                    <div class="field-wrapper">
                        <span style="margin-right: 10px">Ник</span>
                        <el-input :placeholder="user.userName" v-model="userName"></el-input>
                    </div>
                </div>
                <div class="actions" style="margin-top: 10px">
                    <el-button size="small" type="primary" @click="saveLogin">Сохранить</el-button>
                </div>
            </div>
            <p class="prep">Видимые категории:</p>
            <div class="poop">
                <div class="props">
                    <el-checkbox v-for="prop in visibles" v-model="prop.visible" :label="prop.title.toLocaleUpperCase()" :key="prop.id" border></el-checkbox>
                </div>
                <div class="actions" style="margin-top: 10px">
                    <el-button size="small" type="primary" @click="saveVisibles">Сохранить</el-button>
                </div>
            </div>
        </el-card>
    </div>
</template>

<script>
    export default {
        name: 'Settings',
        data() {
            return {
                visibles: [],
                userName: '',
            }
        },
        computed: {
            api() {
                return this.$store.state.api
            },
            user() {
                return this.$store.state.user
            },
        },
        methods: {
            pictureSuccess(response) {
                location.reload()
            },
            deleteBackgroundImage() {
                this.axios({
                    url: this.api.photoDelete.path.replace(this.api.photoDelete.param, this.user.background.id),
                    method: this.api.photoDelete.method,
                }).then(response => {
                    location.reload()
                })
            },
            saveVisibles() {
                this.axios({
                    url: this.api.setUserVisibles.path.replace(this.api.setUserVisibles.param, this.user.id),
                    method: this.api.setUserVisibles.method,
                    data: { visibles: this.visibles }
                }).then(response => {
                    // this.$store.commit('set', Object.assign(this.user, { visibles: this.visibles }))
                    location.reload()
                })
            },
            saveLogin () {
                if (this.userName) {
                    this.axios({
                        url: this.api.userEdit.path,
                        method: 'post',
                        data: { nick: this.userName }
                    }).then(() => {
                        location.reload()
                    })
                }
            }
        },
        mounted() {
            const interval = setInterval(() => {
                if (this.user && this.user.visibles) {
                    this.visibles = JSON.parse(JSON.stringify(this.user.visibles))
                    clearInterval(interval)
                }
            }, 200)
        }
    }
</script>

<style lang="stylus">
    .cabinet {
        max-width 1300px
        margin 10px auto
    }
    .actions {
        display flex
    }
    .prep {
        margin-bottom 10px
    }
    .poop {
        margin-bottom 10px
    }
    .field-wrapper {
        display flex
        max-width 200px
        justify-content flex-start
        align-items center
    }
</style>
