body {
    font-family 'GooSans', sans-serif !important
    padding 0
    margin 0
}
.is-locked {
    overflow-y hidden
    width 100%
    height 100%
    position fixed
    & *:not(.preloader):not(.el-loading-text):not(.circular):not(.el-loading-spinner):not(.el-loading-mask) {
        filter blur(6px)
    }
}
* {
    box-sizing border-box
    //font-size 17px !important
}

.container {
    margin 0 15px
}

@font-face {
    font-family GooSans
    font-style normal
    src url(/build/fonts/GooSans.b5c77a6a.ttf) format('truetype')
}

for $rem in 1..5 {
    .mb-{$rem} {
        margin-bottom ($rem) rem
    }
    .mt-{$rem} {
        margin-top ($rem) rem
    }
    .ml-{$rem} {
        margin-left ($rem) rem
    }
    .mr-{$rem} {
        margin-right ($rem) rem
    }
}

@keyframes fade-input {
    0% {
        opacity 0
        height 0
        display none
        margin-bottom 0
    }
    50% {
        opacity 0.1
    }
    100% {
        opacity 1
        height 40px
        display block
        margin-bottom 22px
    }
}

@keyframes hide {
    15% {
        filter blur(0.2)
    }
    35% {
        opacity 0.5
    }
    100% {
        opacity 0
        width 0
        height 0
    }
}

.hide {
    animation hide 1s forwards
}

.fade-input {
    &-enter {
        opacity 0
        &-active {
            animation fade-input 0.3s ease-in
        }
        &-to {
            opacity 1
        }
    }
    &-leave {
        &-active {
            animation fade-input 0.3s ease-out reverse
        }
        &-to {
            opacity 0
        }
    }
}

.preloader {
    position fixed
    top 0
    left 0
    bottom 0
    right 0
    z-index 2002
}

.el-card.is-hover-shadow {
    &:hover {
        box-shadow 0 10px 40px -15px rgba(0,0,0,.5) !important
    }
}

.grid-popper {
    @media (max-width 651px) {
        width 100%
        max-width 360px
        & .el-date-range-picker__content.is-left {
            width 100%
            max-width 360px
            border none
            border-bottom 1px solid rgba(0, 0, 0, 0.15)
        }

        & .el-date-range-picker__content.is-right {
            width 100%
            max-width 360px
        }

        & .el-picker-panel {
            margin 5px 15px
            &__body {
                min-width auto
            }
        }
    }
    @media (max-width 400px) {
        & .el-date-range-picker__content.is-right {
            display none
        }

        & .el-date-range-picker__content.is-left {
            border none
        }
    }
}

.grid {
    &-checkbox {
        &__full {
            width 100%
            & label {
                width 100%
            }
            & .el-checkbox-button__inner {
                width 100%
                border-radius 4px !important
            }
        }
    }
    & .el-form-item {
        margin-bottom 0 !important
    }
}

gap = 10px
.grid {
    max-width 1300px
    margin 1rem auto
    display grid
    grid-gap gap
    grid-template-columns repeat(auto-fill, minmax(250px, 1fr))
    flex 1
    @media (max-width 1024px) {
        max-width 960px
        grid-template-columns repeat(3, 1fr)
    }
    @media (max-width 760px) {
        max-width 700px
        grid-template-columns repeat(2, 1fr)
    }
    @media (max-width 640px) {
        max-width 550px
        grid-template-columns repeat(2, 1fr)
    }
    @media (max-width 487px) {
        max-width 400px
        grid-template-columns repeat(1, 1fr)
    }
    @media (max-width 320px) {
        max-width 300px
        grid-template-columns repeat(1, 1fr)
    }
    &-container {
        display flex
    }
    &-filter {
        width 300px
    }
    &__filters {
        @media (max-width 470px) {
            grid-template-columns 1fr
        }
    }
    &-picker {
        width auto !important
    }
    &-item {
        &__x2 {
            grid-column-end span 2
        }
    }
}
.el-loading-mask {
    height 100vh
    //backdrop-filter blur(5px)
}
.input__mod-btn-suffix {
    & .el-input__prefix {
        left 0
        & .el-button {
            padding 10px
            font-size 16px
        }
    }
    & .el-input__inner {
        padding-left 60px
    }
}
.el-textarea__inner {
    & textarea {
        min-height 40px !important
    }
}
.grid-body {
    & .el-select {
        width 100%
    }
}
.country-popper {
    @media (max-width: 537px) {
        left 30px !important
        max-width 285px !important
        width 100% !important
        & .el-select-dropdown__item span {
            overflow-x hidden
            max-width 217px
        }
    }
}
.el-menu--horizontal {
    @media (max-width: 500px) {
        display flex
        overflow-x scroll
    }
}
.item-carousel {
    box-shadow 0 5px 60px -6px rgba(0,0,0,0.4)
    border-radius 5px
}