{% extends ('base.html.twig') %}

{% block data %}
    <script>
        window.page = 'add-item';
        window.options = {{ options | raw }};
    </script>
{% endblock %}

{% block body %}
    <div id="app">
        <app/>
    </div>
{% endblock %}