<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {#<meta name="yandex-verification" content="fea9bd9ad7a45f25" />#}
        <link rel="icon shortcut" href="/images/favicon.ico" type="image/x-icon">
        <title>{% block title %}100пка{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
            <script src="/js/velocity.min.js"></script>
        {% endblock %}

        {% block data %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
