{% extends ('base.html.twig') %}

{% block data %}
    {#<script>#}
        {#window.page = 'index';#}
        {#window.items = {{ items | raw }};#}
        {#window.pagination = {{ pagination | raw }};#}
    {#</script>#}
{% endblock %}

{% block body %}
    <div id="app">
        <app></app>
    </div>
{% endblock %}