<template>
    <div class="container mt-3">
        <form>
            <div class="form-row d-block d-md-flex">
                <div class="col mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{ counter }} / {{ this.titleLength }}</div>
                        </div>
                        <input type="text" class="form-control" placeholder="Название" name="title" v-model="inputTitle"
                               autocomplete="off" @keypress="titleCounter" @keyup="titleCounter">
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="material-icons">attach_money</i></div>
                        </div>
                        <input type="number" class="form-control" placeholder="Цена" name="price" v-model="inputPrice" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addOption" @click.prevent="optionTypeChange('country')">
                        +
                    </button>
                </div>
                <select type="text" class="form-control" placeholder="Страна" name="country" v-model="selectCountry">
                    <option value="0">Страна</option>
                    <option v-for="country in countries" :value="country.id">{{ country.code }} - {{ country.title }}</option>
                </select>
            </div>
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addOption" @click.prevent="optionTypeChange('category')">
                        +
                    </button>
                </div>
                <select type="text" class="form-control" placeholder="Категория" name="category" v-model="selectCategory">
                    <option value="0">Категория</option>
                    <option v-for="category in categories" :value="category.id">{{ category.title }}</option>
                </select>
            </div>
            <div class="form-row mt-3">
                <div class="col">
                    <textarea class="form-control min-height" rows="2" placeholder="Краткое описание" autocomplete="off" v-model="description"></textarea>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="exchange" v-model="isExchange">
                        <label class="custom-control-label" for="exchange">Доступен для обмена</label>
                    </div>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col">
                    <div class="custom-file">
                        <input type="file" multiple class="custom-file-input" :disabled="uploadedFiles.length >= 5" id="imageLoader" @change="fileLoader" ref="imagesLoader">
                        <label for="imageLoader" class="custom-file-label">{{ getFilePlaceholder() }}</label>
                    </div>
                    <div class="progress mt-2" v-if="getUploadProgress > 0">
                        <div class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             :aria-valuenow="getUploadProgress()"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             :style="'width: ' + getUploadProgress() + '%;'"
                        >
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addOption" @click.prevent="optionTypeChange('subcategory')">
                        +
                    </button>
                </div>
                <select type="text" class="form-control" placeholder="Подкатегория" name="category" v-model="selectSubcategory">
                    <option value="0">Подкатегория</option>
                    <option v-for="subcategory in subcategories" :value="subcategory.id">{{ subcategory.title }}</option>
                </select>
            </div>
            <div class="card-group mt-2" v-if="uploadedFiles.length">
                <div v-for="file in uploadedFiles" class="card image-wrapper" style="max-width: 18rem;" :key="file.id" @click="removeFile(file.id)">
                    <img class="card-img-top img-blur img-light" :src="file.path" :alt="file.title">
                    <i class="material-icons del">delete</i>
                </div>
            </div>
            <button class="btn btn-primary mt-3 ml-auto mr-auto" @click.prevent="createItem">Отправить</button>
        </form>

        <div class="modal fade" id="addOption" tabindex="-1" role="dialog" aria-labelledby="addOption" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Добавить элемент категории</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">library_add</i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" placeholder="Введите название" v-model="optionName"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @click="addOption(optionType)">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        name: 'addItem',
        computed:
            mapState({
            materials: state => state.commonData.options.materials,
            countries: state => state.commonData.options.countries,
            categories: state => state.commonData.options.categories,
            subcategories: state => state.commonData.options.subcategories,
            defaultSelectCountry: state => 0,
            defaultSelectMaterial: state => 0,
            defaultSelectCategory: state => 0,
            defaultSelectSubcategory: state => 0,
            }),
        data() {
            return {
                itemId: this.$store.state.editableItem.itemId !== undefined ? this.$store.state.editableItem.itemId : null,
                selectCountry: this.$store.state.editableItem.selectCountry !== undefined ? this.$store.state.editableItem.selectCountry : 0,
                selectMaterial: this.$store.state.editableItem.selectMaterial !== undefined ? this.$store.state.editableItem.selectMaterial : 0,
                selectCategory: this.$store.state.editableItem.selectCategory !== undefined ? this.$store.state.editableItem.selectCategory : 0,
                selectSubcategory: this.$store.state.editableItem.selectSubcategory !== undefined ? this.$store.state.editableItem.selectSubcategory : 0,
                inputTitle: this.$store.state.editableItem.inputTitle !== undefined ? this.$store.state.editableItem.inputTitle : '',
                counter: 0,
                files: [],
                titleLength: 18,
                filesSizeMax: 0,
                uploadedSize: 0,
                uploadedFiles: this.$store.state.editableItem.uploadedFiles !== undefined ? this.$store.state.editableItem.uploadedFiles : [],
                inputPrice: this.$store.state.editableItem.inputPrice !== undefined ? this.$store.state.editableItem.inputPrice : '',
                isExchange: this.$store.state.editableItem.isExchange !== undefined ? this.$store.state.editableItem.isExchange : false,
                description: this.$store.state.editableItem.description !== undefined ? this.$store.state.editableItem.description : '',
                optionName: '',
                optionType: ''
            }
        },
        methods: {
            optionTypeChange(type) {
                this.optionType = type;
            },
            addOption(name) {
                this.axios({
                    method: 'post',
                    url: '/api/option/' + name + '/',
                    data: {
                        optionName: this.optionName
                    }
                }).then(response => {
                    if (response.status === 200) {
                        $('#addOption').modal('hide');
                        this.$store.state.commonData = response.data.commonData;
                        this.optionName = '';
                        this.optionType = '';
                    }
                })
            },
            createItem() {
                this.axios({
                    method: 'post',
                    url: '/api/item/',
                    data: {
                        itemId: this.itemId,
                        country: this.selectCountry,
                        material: this.selectMaterial,
                        category: this.selectCategory,
                        subcategory: this.selectSubcategory,
                        title: this.inputTitle,
                        createElement: true,
                        images: this.uploadedFiles,
                        price: this.inputPrice,
                        isExchange: this.isExchange,
                        description: this.description,
                        user_token: this.$store.state.commonData.user_token
                    }
                })
                    .then(response => {
                        if (response.status === 200) {
                            this.inputTitle = '';
                            this.inputPrice = '';
                            this.selectMaterial = this.defaultSelectMaterial;
                            this.selectCountry = this.defaultSelectCountry;
                            this.selectCategory = this.defaultSelectCategory;
                            this.selectSubcategory = this.defaultSelectSubcategory;
                            this.$store.commit('reloadItems');
                            this.$store.commit('changePage', {page: 'index'});
                            this.$store.state.editableItem = {};
                        }
                    })
                    .catch(exception => {
                        this.$store.commit('showAlert', {message: exception.data.error, type: 'danger'});
                    })
                ;
            },
            titleCounter(e) {
                this.counter = this.inputTitle.length;
                if (this.counter >= this.titleLength) {
                    e.preventDefault();
                    this.inputTitle = this.inputTitle.substring(0, this.titleLength);
                }
            },
            fileLoader() {
                this.files = this.$refs.imagesLoader.files;
                let filesArray = Array.from(this.files);
                this.filesSizeMax = 0;
                this.uploadedSize = 0;
                filesArray.forEach((file) => {
                    if (file.type.match(/^image/)) {
                        let formData = new FormData();
                        formData.append(file.name, file);
                        uploadFile(formData, this);
                    }
                });
            },
            getUploadProgress() {
                if (this.uploadedSize === 0 || this.filesSizeMax === 0) {
                    return 0;
                } else {
                    return this.uploadedSize / this.filesSizeMax * 100;
                }
            },
            removeFile(id) {
                this.uploadedFiles = this.uploadedFiles.filter(file => {
                    return file.id !== id;
                });
            },
            getFilePlaceholder() {
                if (this.uploadedFiles.length >= 5) {
                    return 'Вы загрузили 5 фото. Чтобы загрузить больше - удалите удалите лишние из загруженных'
                } else if(this.uploadedFiles.length === 0) {
                    return 'Выберете до 5 фотографий'
                } else {
                    return 'Загружено ' + this.uploadedFiles.length + ' из 5';
                }
            }
        }
    }

    function uploadFile(file, _this) {
        let xhr = new XMLHttpRequest();
        xhr.upload.onprogress = (e) => {
            _this.uploadedSize += e.loaded;
        };
        xhr.onload = xhr.onerror = function () {
            if (this.status === 200) {
                let response = JSON.parse(this.response);
                _this.uploadedFiles.push(response);
            } else {
                console.log('Not uploaded');
            }
        };
        xhr.open("POST", '/upload/', true);
        xhr.send(file);
    }
</script>

<style scoped lang="stylus">
    .custom-file-label::after {
        content 'Выбрать' !important
    }
    .min-height {
        min-height 40px
    }
    .del {
        position absolute
        top calc(50% - 30px)
        right calc(50% - 30px)
        color white
        width 60px
        height 60px
        font-size 60px
        opacity 0
        transition 0.4s
        filter drop-shadow(1px 1px 3px rgba(0,0,0,0.5))
    }
    .card {
        cursor pointer
        position relative
        transition 0.4s
        &::after {
            opacity 0
            transition 0.4s
            content ''
            position absolute
            top 0
            left 0
            display block
            width 100%
            height 100%
            background-color rgba(250,0,0,0.25)
        }
        &:hover {
            & .del {
                opacity 0.7
            }
            &::after {
                opacity 1
            }
        }
    }
    button, input {
        transition 0.5s
    }
</style>
