<template>
    <div class="container">
        <div class="alert alert-dismissible" :class="type">
            <h4 class="alert-heading">{{ message }}</h4>
            <button type="button" class="close" @click="hideAlert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Alert',
        data() {
            return {
                message: this.$store.state.alert.message,
                type: 'alert-' + this.$store.state.alert.type,
            }
        },
        methods: {
            hideAlert() {
                this.$store.commit('hideAlert');
            }
        }
    }
</script>

<style scoped lang="stylus">
    .container {
        position fixed
        top 80%
        left 50%
        transform translateX(-50%)
        display flex
        justify-content center
        & .close {
            height 100%
            & span {
                display block
                height 80%
            }
        }
    }
    .alert {
        z-index 9999
    }
</style>