<template>
    <div class="container mt-3">
        <transition mode="out-in" name="opacity" appear v-on:before-enter="beforeEnter">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <img :src="user.image ? user.image : '/images/user_default.jpg'" :alt="user.username"/>
                </div>
                <div class="col-lg-9 col-12">
                    <div>
                        <h2>Информация</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p v-if="!editor.email" class="trigger-string simple-string">Email - {{ user.email }}<i class="material-icons trigger-editor" @click="changeEmail">edit</i></p>
                            <div v-else class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">email</i>
                                    </div>
                                </div>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" autocomplete="off" v-model="data.email" :class="{ 'is-invalid': errors.email }" @click="clearErrors('email')">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-success" @click="sendData">Сохранить</button>
                                            <button class="btn btn-sm btn-danger" @click="changeEmail">&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback" v-if="errors.email != ''">
                                    {{ errors.email }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p v-if="!this.editor.nick" class="trigger-string simple-string">Ник - {{ user.username }}<i class="material-icons trigger-editor" @click="changeNick">edit</i></p>
                            <div v-else class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">title</i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="nickname" name="nickname" placeholder="Ник" autocomplete="off" v-model="data.nick" :class="{'is-invalid': errors.nick != ''}">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-success" @click="sendData">Сохранить</button>
                                            <button class="btn btn-sm btn-danger" @click="changeNick">&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback" v-if="errors.nick != ''">
                                    {{ errors.nick }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p v-if="!editor.birthday" class="trigger-string simple-string">Дата рождения - {{ user.birthday ? user.birthday : 'Не указана' }}<i class="material-icons trigger-editor" @click="setBirthday">edit</i></p>
                            <div v-else class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="material-icons">date_range</i>
                                    </div>
                                </div>
                                <input type="date" class="form-control" id="birthday" name="birthday" placeholder="День рождения" autocomplete="off" v-model="data.birthday" :class="{'is-invalid': errors.birthday != ''}">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <div class="btn-group">
                                            <button class="btn btn-sm btn-success" @click="sendData">Сохранить</button>
                                            <button class="btn btn-sm btn-danger" @click="setBirthday">&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback" v-if="errors.birthday != ''">
                                    {{ errors.birthday }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p class="simple-string">На сайте уже: {{ onSite }}</p>
                        </div>
                    </div>
                    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#statisticModal">Статистика</button>
                    <div class="modal fade" tabindex="-1" role="dialog" id="statisticModal" aria-hidden="true" aria-labelledby="statisticModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="statisticModalLabel">Статистика экземпляров</h5>
                                    <button class="close" data-dismiss="modal" aria-label="Закрыть">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="list-group" role="tablist" id="statsList">
                                        <div class="list-group-item list-group-item-action d-flex flex-column pointer" v-for="(stat, title) in stats" :data-target="'#' + title + '-target'" @click="toggleTarget">
                                            <div class="d-flex events__none" js-mb>
                                                <span class="flex_1 events__none">{{ title }}</span>
                                                <span class="badge badge-primary badge-pill events__none">{{(title === 'Обмен' || title === 'Всего') ? stat : stat.length }}</span>
                                            </div>
                                            <div class="d-flex flex-column hide" v-if="title !== 'Обмен' && title !== 'Всего'" :id="title + '-target'">
                                                <div class="list-group">
                                                    <div class="list-group-item list-group-item-action cursor__default" v-for="subItem in stat">
                                                        <div class="d-flex justify-content-center">
                                                            <div class="image-wrapper mr-2" v-if="subItem.image">
                                                                <img :src="subItem.image" style="width: 16px; height: 11px;">
                                                            </div>
                                                            <span class="flex_1">{{ subItem.title }}</span>
                                                            <span class="badge badge-primary badge-pill">{{ subItem.items_count }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <filters :isMine="true"></filters>
        <list :isMine="true"></list>
    </div>
</template>

<script>
    import List from './List';
    import Filters from "./Filters";
    export default {
        name: 'Cabinet',
        components: {
            Filters,
            List
        },
        data() {
            return {
                user: this.$store.state.commonData.user_data,
                editor: {
                    email: false,
                    birthday: false,
                    nick: false
                },
                errors: {
                    email: '',
                    birthday: '',
                    nick: ''
                },
                data: {
                    email: '',
                    birthday: '',
                    nick: ''
                },
                stats: {}
            }
        },
        computed: {
            onSite() {
                let now = new Date();
                let regDate = new Date(this.user.reg_date.date);
                let diff = Math.floor((now.getTime() - regDate.getTime()) / 1000 / 60 / 60 / 24);
                return diff + ' дней';
            },
            getStats() {
                this.axios({
                    url: '/api/user/' + this.user.username + '/stat/',
                    method: 'GET'
                }).then(r => {
                    this.stats = r.data;
                    return this.stats;
                }).catch(e => {
                    return [];
                });
            }
        },
        methods: {
            toggleTarget(e) {
                const $opener = $('[data-target="' + e.target.dataset.target + '"]');
                const $target = $(e.target.dataset.target);
                $opener.find('[js-mb]').toggleClass('mb-4');
                $target.toggleClass('hide');
                if ($target.hasClass('hide')) {
                    $target.slideUp(300);
                } else {
                    $target.slideDown(300);
                }
            },
            beforeEnter() {
                this.axios({
                    url: '/api/user/' + this.user.username + '/stat/',
                    method: 'GET'
                }).then(r => {
                    this.stats = r.data;
                    return this.stats;
                }).catch(e => {
                    return [];
                });
            },
            changeEmail() {
                this.editor.email = !this.editor.email;
            },
            changeNick() {
                this.editor.nick = !this.editor.nick;
            },
            setBirthday() {
                this.editor.birthday = !this.editor.birthday;
            },
            sendData() {
                this.axios({
                    url: '/api/user/editor/',
                    headers: {'content-type': 'text/html'},
                    method: 'POST',
                    data: this.data
                }).then(r=>{
                    if (this.data.email !== '') {
                        this.user.email = this.data.email;
                        this.data.email = '';
                        window.location.href = '/logout/';
                    }
                    if (this.data.birthday !== '') {
                        this.user.birthday = this.data.birthday;
                        this.data.birthday = '';
                    }
                    if (this.data.nick !== '') {
                        this.user.username = this.data.nick;
                        this.data.nick = '';
                    }
                    window.location.reload();
                }).catch(e=>{
                    this.errors = e.response.data.errors;
                });
            },
            clearErrors(field) {
                this.errors[field] = '';
            }
        },
        created() {
            this.$store.commit('reloadItems');
        }
    }
</script>

<style scoped lang="stylus">
    img {
        width 100%
    }
    .trigger {
        &-string {
            display flex
        }
        &-editor {
            margin-left 5px
            cursor default
            transition 0.3s
            &:hover {
                cursor pointer
                color #00aa73
            }
        }
    }
    .col {
        display flex
        align-items center
        padding 10px 0
        margin-left 15px
        height 50px
    }
    p, .simple-string {
        margin 0 !important
    }
    .flex_1 {
        flex 1
    }
    .list-group-item {
        width 100%
    }
    .pointer {
        cursor pointer
    }
    .cursor__default {
        cursor default
    }
    .hide {
        display none !important
    }
    .events__none {
        pointer-events none
    }
    .badge-pill {
        padding-top 0.4rem
        border-radius 0.25rem
    }
</style>