<template>
    <div class="card-wrapper col-sm-12 col-md-6 col-lg-4 col-xl-3" :class="{mine: this.isCabinet}" v-if="isVisible">
        <div class="card" :class="{wide: item.isWide}">
            <div class="image-wrapper">
                <img class="card-img-top" :src="cover" :alt="item.title">
                <div class="card-img-overlay">
                    <span v-if="item.isExchange" class="badge badge-light">Обмен</span>
                    <div class="card-body" v-if="!item.isWide">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <button v-if="!isCabinet" class="btn btn-primary" @click="openItem">Открыть</button>
                        <div v-else class="btn-group">
                            <button class="btn btn-primary" @click="openItem">Открыть</button>
                            <button class="btn btn-danger btn-icon" @click="pushToDeleter()" data-toggle="modal" data-target="#modalSuccess"><i class="material-icons">delete</i></button>
                            <button class="btn btn-success btn-icon" @click="editItem"><i class="material-icons">edit</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" v-if="item.isWide">
                <h5 class="card-title">{{ item.title }}</h5>
                <button v-if="!isCabinet" class="btn btn-primary" @click="openItem">Открыть</button>
                <div v-else class="btn-group">
                    <button class="btn btn-primary" @click="openItem">Открыть</button>
                    <button class="btn btn-danger btn-icon" @click="pushToDeleter()" data-toggle="modal" data-target="#modalSuccess"><i class="material-icons">delete</i></button>
                    <button class="btn btn-success btn-icon" @click="editItem"><i class="material-icons">edit</i></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Card',
        props: {
            item: {
                type: Object,
                required: true
            }
        },
        computed: {
            firstImage() {
                return this.item.images[0];
            },
            cover() {
                return '/' + this.item.cover;
            },
            page() {
                return this.$store.state.page;
            },
            isVisible() {
                if (this.$store.state.commonData.user_data) {
                    let isMine = this.$store.state.commonData.user_data.username === this.item.user;
                    return !this.isCabinet || this.isCabinet && isMine;
                } else {
                    return true;
                }
            },
            isCabinet() {
                return this.$store.state.page === 'cabinet';
            }
        },
        methods: {
            openItem() {
                this.$store.state.page = 'item';
                this.$store.state.item = this.item;
            },
            editItem() {
                this.axios({
                    url: '/api/item/edit/' + this.item.id + '/',
                    method: 'get'
                }).then((response) => {
                    this.$store.state.editableItem = response.data;
                    this.$store.commit('changePage', {page: 'add-item'});
                }).catch((exception) => {
                    console.log(exception);
                });
            },
            pushToDeleter() {
                this.$store.commit('pushToDeleter', this.item.id);
            }
        },
    }
</script>

<style scoped lang="stylus">
    .btn {
        color white !important
        pointer-events all
        &-group {
            /*border 1px solid rgba(0,54,101,0.76)
            border-radius 12px
            overflow hidden*/
        }
    }
    .mine {
        & .btn {
            padding-top 2px
            padding-bottom 2px
        }
    }
    .card-wrapper {
        padding 0 3px 5px 3px
    }
    .badge {
        position absolute
        top 5px
        right 5px
    }
    .card{
        border 1px solid rgba(0, 62, 124, 0.6)
        transition 0.25s
        &-img-overlay {
            &:hover {
                & .btn, .card-title {
                    filter blur(10px)
                    opacity 0.3
                }
            }
            & .card-body {
                position absolute
                bottom 5px
                left 5px
                flex-direction column
                justify-content space-between
                align-items center
                transition 0.3
            }
            & .card-title {
                color white
                background-color rgba(0, 0, 0, 0.5)
                padding 2px 7px
                border-radius 3px
                display inline-flex
                transition 0.2s
                &:hover {
                    cursor default
                    opacity 1
                    filter blur(0) !important
                }
            }
            & .btn {
                opacity 0.7
                transition 0.2s
                &:hover {
                    opacity 1
                    filter blur(0) !important
                }
            }
        }
        &-body {
            z-index 200
        }
        &.wide {
            height 100%
        }
        &:hover {
            box-shadow 0 5px 25px rgba(0,35,70,0.6)
        }
    }
</style>