<template>
    <transition name="opacity" mode="out-in" appear>
        <div class="container mt-3 mb-3" v-if="onlyPages != true">
            <h2>Фильтрация</h2>
            <form id="form-filter">
                <div class="form-row visible-md d-block d-md-flex">
                    <div class="col mb-3">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Поиск" v-model="search" @change="filter">
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="search === ''" @click.prevent="clearSearch(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <select class="form-control" name="country" v-model="dateOrder" @change="filter">
                                <option value=0 disabled>Дата</option>
                                <option value=1>Сначала новые</option>
                                <option value=2>Сначала старые</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="!dateOrder" @click.prevent="clearDateOrder(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <input class="form-control height-fix" type="text" placeholder="Начало периода" v-model="periodStart" @change="filter" @focus="toDate" @blur="toText">
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="periodStart === ''" @click.prevent="clearPeriodStart(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <input class="form-control height-fix" type="text" placeholder="Конец периода" v-model="periodEnd" @change="filter" @focus="toDate" @blur="toText">
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="periodEnd === ''" @click.prevent="clearPeriodEnd(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row visible-md d-block d-md-flex">
                    <div class="col mb-3">
                        <div class="input-group">
                            <select class="form-control" name="country" v-model="selectedCountry" @change="filter">
                                <option value=0 disabled>Страна</option>
                                <option v-for="country in countries" :value="country.id">{{ country.title }}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="!selectedCountry" @click.prevent="clearCountry(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <select class="form-control" name="country" v-model="selectedMaterial" @change="filter">
                                <option value=0 disabled>Материал</option>
                                <option v-for="material in materials" :value="material.id">{{ material.title }}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="!selectedMaterial" @click.prevent="clearMaterial(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <select class="form-control" name="country" v-model="selectedCategory" @change="filter">
                                <option value=0 disabled>Категория</option>
                                <option v-for="category in categories" :value="category.id">{{ category.title }}</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="!selectedCategory" @click.prevent="clearCategory(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="input-group">
                            <select class="form-control" name="alphabet" v-model.number="alphabetOrder" @change="filter">
                                <option value=0 disabled>Название</option>
                                <option value=1>от А до Я</option>
                                <option value=2>от Я до А</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-danger" :disabled="!alphabetOrder" @click.prevent="clearAlphabet(); filter();">&times;</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <button class="btn mb-3 mr-2" :class="{'btn-success': isExchange, 'btn-dark': !isExchange}" @click.prevent="toggleExchange(); filter();">Доступные для обмена</button>
                    <button v-if="this.$store.state.commonData.is_authorized && isMine !== true" class="btn mb-3 mr-2" :class="{'btn-success': mine, 'btn-dark': !mine}" @click.prevent="toggleMine(); filter();">Только мои</button>
                    <button v-if="this.$store.state.commonData.is_authorized" class="btn mb-3 mr-2" :class="{'btn-success': all, 'btn-dark': !all}" @click.prevent="showAll(); filter();">Показать все</button>
                    <button class="btn btn-dark mb-3" @click.prevent="resetFilter" :disabled="isFiltered">Сбросить фильтры</button>
                </div>
                <transition name="opacity" appear mode="out-in">
                    <div class="btn-group" v-if="pagination.last > 1">
                        <button class="btn btn-secondary" v-if="pagination.current > 1" :data-page="(pagination.current - 1)" @click.prevent="paginate"><i class="material-icons">navigate_before</i></button>
                        <button class="btn btn-secondary" :class="{'current-page': page === pageNumber}" :disabled="page === pageNumber" v-for="pageNumber in pagination.links" :data-page="pageNumber" @click.prevent="paginate">{{ pageNumber }}</button>
                        <button class="btn btn-secondary" v-if="pagination.last > pagination.current" :data-page="(pagination.current + 1)" @click.prevent="paginate"><i class="material-icons">navigate_next</i></button>
                    </div>
                </transition>
            </form>
        </div>
        <div class="container mt-3 mb-3" v-else>
            <transition name="opacity" appear mode="out-in">
                <div class="btn-group" v-if="pagination.last > 1">
                    <button class="btn btn-secondary" v-if="pagination.current > 1" :data-page="(pagination.current - 1)" @click.prevent="paginate"><i class="material-icons">navigate_before</i></button>
                    <button class="btn btn-secondary" :class="{'current-page': page === pageNumber}" :disabled="page === pageNumber" v-for="pageNumber in pagination.links" :data-page="pageNumber" @click.prevent="paginate">{{ pageNumber }}</button>
                    <button class="btn btn-secondary" v-if="pagination.last > pagination.current" :data-page="(pagination.current + 1)" @click.prevent="paginate"><i class="material-icons">navigate_next</i></button>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>

    export default {
        name: 'Filters',
        data() {
            return {
                countries: this.$store.state.commonData.options.countries,
                materials: this.$store.state.commonData.options.materials,
                categories: this.$store.state.commonData.options.categories,
                selectedCountry: 0,
                selectedMaterial: 0,
                selectedCategory: 0,
                alphabetOrder: 0,
                dateOrder: 0,
                periodStart: '',
                periodEnd: '',
                search: '',
                mine: 0,
                isExchange: 0,
                all: false,
            }
        },
        props: {
            isMine: {
                type: Boolean
            },
            onlyPages: {
                type: Boolean
            }
        },
        computed: {
            isFiltered() {
                return !(this.selectedCountry|| this.selectedMaterial || this.selectedCategory || this.search !== '' || this.mine || this.isExchange || this.alphabetOrder || this.dateOrder || this.periodStart !== '' || this.all || this.periodEnd !== '');
            },
            pagination() {
                return this.$store.state.pagination;
            },
            page() {
                return this.$store.state.paginate;
            }
        },
        methods: {
            showAll() {
                this.all = !this.all;
            },
            paginate(e) {
                this.$store.commit('paginate', parseInt(e.target.dataset.page));
                this.filter();
            },
            filter() {
                let params = {};
                if (this.selectedCountry) {
                    params.country = this.selectedCountry;
                }
                if (this.selectedMaterial) {
                    params.material = this.selectedMaterial;
                }
                if (this.selectedCategory) {
                    params.category = this.selectedCategory;
                }
                if (this.search !== '') {
                    params.search = this.search;
                }
                if (this.mine) {
                    params.mine = this.mine;
                }
                if (this.isExchange) {
                    params.exchange = this.isExchange;
                }
                if (this.alphabetOrder) {
                    params.alphabetOrder = this.alphabetOrder;
                }
                if (this.periodStart) {
                    params.periodStart = this.periodStart;
                }
                if (this.periodEnd) {
                    params.periodEnd = this.periodEnd;
                }
                if (this.dateOrder) {
                    params.dateOrder = this.dateOrder;
                }
                params.page = this.page;
                if (this.all) {
                    params.page = -1;
                }
                this.axios({
                    url: '/api/items/',
                    method: 'get',
                    params: params
                }).then(response => {
                    this.$store.state.items = response.data.list;
                    this.$store.state.pagination = response.data.pagination;
                    this.$store.state.paginate = response.data.pagination.current;
                });
            },
            resetFilter() {
                let params = {
                    country: this.selectedCountry = 0,
                    material: this.selectedMaterial = 0,
                    category: this.selectedCategory = 0,
                    periodStart: this.periodStart = '',
                    periodEnd: this.periodEnd = '',
                    alphabetOrder: this.alphabetOrder = 0,
                    search: this.search = '',
                    mine: this.mine = 0,
                    exchange: this.isExchange = 0,
                    dateOrder: this.dateOrder = 0,
                    page: this.page = 1,
                    all: this.all = false,
                };
                this.axios({
                    url: '/api/items/',
                    method: 'get',
                }).then(response => {
                    this.$store.state.items = response.data.list;
                    this.$store.state.pagination = response.data.pagination;
                    this.$store.state.paginate = response.data.pagination.current;
                });
            },
            toggleMine() {
                if (this.mine) {
                    this.mine = 0;
                } else {
                    this.mine = 1;
                }
            },
            toggleExchange() {
                if (this.isExchange) {
                    this.isExchange = 0;
                } else {
                    this.isExchange = 1;
                }
            },
            clearMaterial() {
                this.selectedMaterial = 0;
            },
            clearCountry() {
                this.selectedCountry = 0;
            },
            clearCategory() {
                this.selectedCategory = 0;
            },
            clearSearch() {
                this.search = '';
            },
            clearPeriodStart() {
                this.periodStart = '';
            },
            clearPeriodEnd() {
                this.periodEnd = '';
            },
            clearAlphabet() {
                this.alphabetOrder = 0;
            },
            clearDateOrder() {
                this.dateOrder = 0;
            },
            toDate(e) {
                e.srcElement.type = 'date';
            },
            toText(e) {
                e.srcElement.type = 'text';
            }
        }
    }
</script>

<style scoped lang="stylus">
    button, input {
        transition 0.5s
        &:disabled {
            pointer-events none
        }
    }
    button {
        display flex
        justify-content center
        align-items center
    }
    .height-fix {
        height 39px
    }
    .current-page {
        background #0069D9
    }
    i {
        pointer-events none
    }
</style>