<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand d-none d-md-block" href="/">Рюмка-стопка</a>
        <transition name="opacity" appear mode="out-in">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#loginForm" v-if="is_authorized === false">Войти на сайт</button>
        </transition>
        <transition name="opacity" appear mode="out-in">
            <button type="button" class="btn btn-outline-danger" @click="logout" v-if="is_authorized === true">Выйти</button>
        </transition>
        <transition name="opacity" appear mode="out-in">
            <button type="button" class="btn btn-outline-primary" @click="addItem" v-if="is_authorized === true && (this.$store.state.page === 'index' || this.$store.state.page === 'cabinet')">Добавить запись</button>
        </transition>
        <transition name="opacity" appear mode="out-in">
            <button type="button" class="btn btn-outline-primary" @click="goHome" v-if="is_authorized === true && this.$store.state.page !== 'index'">Главная</button>
        </transition>
        <transition name="opacity" appear mode="out-in">
            <button type="button" class="btn btn-outline-primary" @click="goCabinet" v-if="is_authorized === true && this.$store.state.page !== 'cabinet'">Кабинет</button>
        </transition>
        <login-form></login-form>
        <modal></modal>
    </nav>
</template>

<script>
    import LoginForm from "./Login";
    import Modal from "./Modal";

    export default {
        name: 'header-navigator',
        components: {
            LoginForm,
            Modal
        },
        methods: {
            check() {
                if (this.$store.state.alert.message) {
                    this.$store.commit('hideAlert');
                } else {
                    this.$store.commit('showAlert', {message: 'Сообщение Алерта', type: 'primary'});
                }
            },
            addItem() {
                this.$store.commit('changePage', {page: 'add-item'});
            },
            goCabinet() {
                this.$store.commit('changePage', {page: 'cabinet'});
            },
            logout() {
                window.location.href = '/logout/';
            },
            goHome() {
                this.$store.commit('changePage', {page: 'index'});
            }
        },
        component: {
            LoginForm
        },
        props: {
            commonData: {
                type: Object,
                required: true
            }
        },
        computed: {
            is_authorized() {
                return this.commonData.is_authorized;
            }
        },
    }
</script>

<style scoped lang="stylus">
    button {
        margin-right 0.75rem
    }
    @media (max-width: 992px) {
        & nav {
            justify-content left
        }
    }
    @media (max-width: 768px) {
        & nav {
            justify-content center
        }
    }
    @media (max-width: 375px) {
        & nav {
            flex-wrap nowrap
            & button {
                transform scale(0.95)
                margin-right 0
            }
        }
    }
    .btn {
        user-select none
    }
</style>