<template>
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div id="itemGallery" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" v-if="item.images.length > 1">
                        <li v-for="image in item.images" data-target="#itemGallery" :data-slide-to="item.images.indexOf(image)" :class="{'active': item.images.indexOf(image) === 0}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item" v-for="image in item.images" :class="{'active': item.images.indexOf(image) === 0}">
                            <img class="d-block w-100" :src="image" :key="item.images.indexOf(image)">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#itemGallery" role="button" data-slide="prev" v-if="item.images.length > 1">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#itemGallery" role="button" data-slide="next" v-if="item.images.length > 1">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <h1>{{ item.title }}</h1>
                <ul class="list-group list-group-flush mb-3">
                    <li class="list-group-item">Страна - {{ item.country }}</li>
                    <li class="list-group-item">Материал - {{ item.material }}</li>
                    <li class="list-group-item" v-if="item.price > 0">Цена - <b>{{ item.price }}р</b></li>
                    <li class="list-group-item" v-else>Договорная цена</li>
                    <li class="list-group-item" v-if="item.isExchange">Доступен для обмена</li>
                </ul>
                <h3 class="mb-2">Описание:</h3>
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Item',
        data() {
            return {
                item: this.$store.state.item
            }
        }
    }
</script>

<style scoped lang="stylus">
    .list-group-item {
        padding-left 0
    }
</style>