<template>
    <div class="container mt-3" v-if="items.length">
        <h2>Список ({{ items.length }})</h2>
        <transition-group
                appear
                name="opacity"
                tag="div"
                class="row"
                v-bind:css="false"
                v-on:before-enter="beforeEnter"
                v-on:enter="enter"
                v-on:leave="leave"
                mode="out-in"
        >
            <card v-for="(item, index) in items" :key="item.id" :item="item" :data-index="index" :data-last="items.length"></card>
        </transition-group>
    </div>
</template>

<script>
    import Card from './Card';
    import { mapState } from 'vuex';

    export default {
        name: 'list',
        components: {
          Card
        },
        computed: mapState({
            items: state => state.items
        }),
        methods: {
            beforeEnter: function(el) {
                el.style.opacity = 0;
            },
            enter: function (el, done) {
                const index = el.dataset.index;
                let delay = 200 + index * 70;
                if (index > 20) {
                    delay = 10;
                }
                setTimeout(() => {
                    Velocity(el, {opacity: 1}, {complete: done});
                }, delay);
            },
            leave: function (el, done) {
                const index = el.dataset.index;
                let delay = index * 10;
                if (index > 10) {
                    delay = 10;
                }
                setTimeout(() => {
                    Velocity(el, {opacity: 0}, {complete: done});
                }, delay);
            }
        },
        created() {
            this.$store.commit('reloadItems');
        }
    }
</script>

<style lang="stylus">
    .card-columns {
        @media (max-width: 576px) {
            column-count 1
        }
        @media (min-width: 576px) {
            column-count 1
        }
        @media (min-width: 768px) {
            column-count 2
        }
        @media (min-width: 992px) {
            column-count 3
        }
        @media (min-width: 1200px) {
            column-count 4
        }
    }
</style>