<template>
    <div class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">{{ mainTitle }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons">alternate_email</i>
                                </div>
                            </div>
                            <input class="form-control" :class="{ 'is-invalid': (error_wrong_email !== '') }" type="text"
                                   placeholder="Email" v-model="email"/>
                            <div class="invalid-feedback" v-if="error_wrong_email">
                                {{ error_wrong_email }}
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons">security</i>
                                </div>
                            </div>
                            <input class="form-control"
                                   :class="{ 'is-invalid': (error_bad_password !== '' || error_bad_re_password !== '')}"
                                   type="password" placeholder="Пароль" v-model="password"/>
                            <div class="invalid-feedback" v-if="error_bad_password">
                                {{ error_bad_password }}
                            </div>
                        </div>
                        <div class="input-group mb-2" v-show="is_registration">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="material-icons">security</i>
                                </div>
                            </div>
                            <input class="form-control" :class="{ 'is-invalid' : (error_bad_re_password !== '') }"
                                   type="password" placeholder="Повторите пароль" v-model="passwordReturn"/>
                            <div class="invalid-feedback" v-if="error_bad_re_password">
                                {{ error_bad_re_password }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success mr-auto" @click="registrationToggle">{{ regButtonTitle }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" @click="login()">{{ inButtonTitle }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'loginForm',
        data() {
            return {
                email: '',
                password: '',
                passwordReturn: '',
                is_registration: false,
                error_user_exist: '',
                error_wrong_email: '',
                error_bad_password: '',
                error_bad_re_password: '',
                success_registration_message: '',
            }
        },
        computed: {
            inButtonTitle() {
                if (this.is_registration) {
                    return 'Зарегистрироваться';
                } else {
                    return 'Вход';
                }
            },
            regButtonTitle() {
                if (this.is_registration) {
                    return 'Вход';
                } else {
                    return 'Регистрация';
                }
            },
            mainTitle() {
                if (this.is_registration) {
                    return 'Зарегистрироваться на сайте';
                } else {
                    return 'Войти на сайт';
                }
            }
        },
        methods: {
            registrationToggle() {
                if (this.is_registration) {
                    this.is_registration = false;
                    this.passwordReturn = '';
                } else {
                    this.is_registration = true;
                }
            },
            login() {
                const emailRe = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                if (this.email === '') {
                    this.error_wrong_email = 'Email не может быть пустым';
                } else if (!this.email.match(emailRe)) {
                    this.error_wrong_email = 'Введите корректный email';
                } else {
                    this.error_wrong_email = '';
                }

                if (this.password === '') {
                    this.error_bad_password = 'Пароль не может быть пустым';
                } else if (this.password.length < 6) {
                    this.error_bad_password = 'Введите пароль от 6 символов';
                } else {
                    this.error_bad_password = '';
                }

                if (this.is_registration && this.passwordReturn !== this.password) {
                    this.error_bad_re_password = 'Пароли не совпадают';
                } else if (this.is_registration) {
                    this.error_bad_re_password = '';
                }

                if (this.error_bad_password === '' && this.error_wrong_email === '' && this.error_bad_re_password === '') {
                    this.axios({
                        method: 'post',
                        url: '/auth/',
                        params: {
                            email: this.email,
                            password: this.password,
                            password_return: this.passwordReturn,
                            is_registration: this.is_registration
                        }
                    }).then((response) => {
                        $('#loginForm').modal('hide');
                        this.$store.state.commonData = response.data.commonData;
                        this.$store.commit('showAlert', {message: response.data.message, type: 'success'});
                        if (this.is_registration === false) {
                            setTimeout(()=>{
                                window.location.reload();
                            }, 500);
                        }
                    })
                    .catch((exception) => {
                        const error = exception.response;
                        if (error && error.data.field === 'email') {
                            this.error_wrong_email = error.data.message;
                        }
                        if (error && error.data.field === 'all') {
                            this.error_wrong_email = error.data.message;
                            this.error_bad_password = error.data.message;
                        }
                    });
                }
            }
        }
    }
</script>