<template>
    <div class="modal fade" id="modalSuccess" role="alertdialog" aria-labelledby="modalSuccess" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Подтверждение действия</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить элемент?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="clearDeleter()">Нет</button>
                    <button type="button" class="btn btn-danger" @click="deleteItem()">Да</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Modal',
        methods: {
            deleteItem() {
                this.axios({
                    method: 'delete',
                    url: '/api/item/delete/',
                    data: {itemId: this.$store.state.deleter}
                }).then((response) => {
                    $('#modalSuccess').modal('hide');
                    this.$store.commit('clearDeleter');
                    this.$store.commit('reloadItems');
                    this.$store.commit('showAlert', {message: response.data.message, type: 'primary'});
                }).catch((error) => {
                    this.$store.commit('showAlert', {message: error.response.data.error, type: 'danger'});
                });
            },
            clearDeleter() {
                this.$store.commit('clearDeleter');
            }
        }
    }
</script>

<style>

</style>